:root {
  --primary-color: #fdf8ffc2;
}

body {
  margin: 50px auto;
  height: fit-content;
  width: fit-content;  
}

.App {
  max-width: 1000px; 
  height: fit-content;
  padding: 50px 50px; 
  border: 1px solid #dadde1;
  border-radius: 10px;
  background: linear-gradient(to bottom,
  rgb(119, 88, 152),
  rgb(113, 99, 174) 10%,
  rgb(104, 86, 191) 41%,
  rgb(85, 67, 178) 61%,
  rgb(70, 38, 158) 75%);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

footer {
  font-family: 'Poppins';
  padding: 50px 0px 20px 0px;
  font-size: 16px;
  line-height: 24px;
  color: #89aaff;
}

.GitHubLink {
  color: var(--primary-color);
}
