:root {
  --primary-color: #d691aec2;
}

body {
  margin: 50px auto;
  height: fit-content;
  width: fit-content;  
}

.App-wrapper {
  max-width: 1000px; 
  height: fit-content;
  padding: 20px 60px; 
  border: 1px solid #dadde1;
  border-radius: 10px;
  background: linear-gradient(248deg,
  rgba(255, 231, 224, 1) 7%,
  rgba(255, 231, 224, 1) 7%,
  rgba(255, 246, 230, 1) 31%,
  rgba(254, 247, 223, 1) 65%);
   background-size: 100% auto;
   background-repeat: no-repeat;
}

.App-wrapper h1 {
  text-transform: uppercase;
  color: var(--primary-color);
  font-size: 32px; 
  font-family: 'Source Code Pro', monospace; 
  margin: 20px 0px 40px ;
}

.SourceCode p {
  font-family: 'Source Code Pro', monospace;
  padding: 50px 0px 20px 0px;
  font-size: 16px;
  line-height: 24px;
  color: #71788a;
}

.SourceCode a {
  color: var(--primary-color);
}
