:root {
  --border-color: #fdf8ffc2;
  --background-color: transparent; 
}

.SearchEngine button, input {
  border-color: var(--border-color);
  background-color: var(--background-color);
  color: var(--border-color);
  font-family: 'Poppins';
  font-size: 18px;
  padding: 10px 24px;
  margin-top: 20px;
  }

.SearchEngine button:hover  {
  background-color: #C2D4EB;
  border-color:#d9ecf6;
}